---
import Logo from "@/components/global/Logo.astro";
import config from ".astro/config.generated.json" with { type: "json" };
import NavMenuItem from "@/layouts/components/global/header/MenuItem.astro";
import NavToggleBtn from "@/layouts/components/global/header/NavToggleBtn.astro";
import type { NavigationLink } from "@/types";
import { sortByWeight } from "@/lib/utils/sortFunctions";
import { filteredEnabled } from "@/lib/utils/filteredEnabled";

import menuFromJson from "@/config/menu.en.json" with { type: "json" };

let main = menuFromJson.main as NavigationLink[];
main = filteredEnabled(main);
main = sortByWeight(main);

const isHomepage = Astro.url.pathname === "/";

const {
  site: { logoHoverAnimation },
  settings: { stickyHeader },
} = config;
---

{
  !isHomepage && (
    <div
      class="absolute top-0 left-1/2 -z-30 h-1/2 w-full -translate-x-1/2 overflow-hidden"
      aria-hidden="true">
      <div class="absolute top-[-550px] left-[-10%] h-[800px] w-[800px] bg-[radial-gradient(53.29%_50%_at_50%_50%,var(--color-primary)_0%,rgba(39,27,69,0)_100%)]" />
      <div class="absolute top-[-550px] right-[-10%] h-[800px] w-[800px] bg-[radial-gradient(53.29%_50%_at_50%_50%,var(--color-primary)_0%,rgba(39,27,69,0)_100%)]" />
    </div>
  )
}

<header
  class:list={[
    "header group/header transform",
    { "sticky-header": stickyHeader },
  ]}>
  <div class="absolute container">
    <nav
      class="hs-dropdown relative flex items-center justify-between px-2 py-2.5 [--auto-close:inside] [--gpu-acceleration:false] [--strategy:absolute] lg:[--strategy:static]">
      <Logo class={logoHoverAnimation ? "has-hover-animation" : ""} />

      <ul
        id="nav-menu"
        class="navbar hs-dropdown-menu hs-dropdown-open:flex hs-dropdown-open:mt-2! has-customized-scrollbar max-lg:absolute max-lg:transform-none! lg:transform-none!">
        {main.map((menu) => <NavMenuItem menu={menu} />)}
      </ul>
      <NavToggleBtn />
    </nav>
  </div>
</header>
<script>
  import "@/plugins/preline/dropdown";

  function stickyHeader(): void {
    const header = document.querySelector(
      ".sticky-header",
    ) as HTMLElement | null;
    if (!header) return; // Early exit if no header is found

    let prevScrollPos = window.scrollY;

    if (prevScrollPos > 0) {
      header.classList.add("scroll-up");
    }

    window.addEventListener("scroll", () => {
      const currentScrollPos = window.scrollY;

      if (prevScrollPos > currentScrollPos) {
        // Scrolling up
        header.classList.remove("scroll-down");
        header.classList.add("scroll-up");
      } else if (prevScrollPos < currentScrollPos) {
        // Scrolling down
        header.classList.remove("scroll-up");
        header.classList.add("scroll-down");
      }

      if (currentScrollPos === 0) {
        header.classList.remove("scroll-up");
        header.classList.remove("scroll-down");
      }

      prevScrollPos = currentScrollPos;
    });
  }

  stickyHeader();
</script>
