---
import type { NavigationLink } from "@/types";
import Button from "@/layouts/components/buttons/Button.astro";
import Link from "@/layouts/components/links/Link.astro";

const menu = Astro.props.menu as NavigationLink;
const { pathname } = Astro.url;
---

{
  menu.name && (
    <li
      class:list={[
        "nav-item",
        { "nav-item-cta": menu.action === "openContactModal" },
      ]}>
      {menu.action === "openContactModal" ? (
        <Button
          variant="primary"
          content={{ enable: true, label: menu.name, url: "#" }}
          class="nav-link nav-link-cta uppercase font-bold"
          iconLoading="eager"
          iconFetchpriority="high"
          iconDecoding="sync"
          data-menu-action={menu.action}
        />
      ) : (
        <Link
          variant="nav"
          href={menu.url || "#"}
          class:list={[
            { "nav-link-active": pathname === menu.url },
          ]}
          data-menu-action={menu.action || null}>
          {menu.name}
        </Link>
      )}
    </li>
  )
}
