---
import Subtitle from "@/layouts/components/widgets/Subtitle.astro";
import type { Button, Section } from "@/types";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { markdownify } from "@/lib/utils/textConverter";
import ButtonLink from "../buttons/ButtonLink.astro";

type aboutSectionType = Section & {
  layoutType?: "modern" | "creative";
  list: {
    title: string;
    titleSize: string;
    image?: string;
    descriptionFontSize?: "sm" | "lg";
    description: string;
    ctaBtn: Button;
    ctaBtn2?: Button;
  }[];
};
type Props = {
  content?: aboutSectionType;
};

let defaultContent = (
  await getEntryCTM("sections", "about", Astro.currentLocale)
)?.data as aboutSectionType;

let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as aboutSectionType;

let {
  enable = true,
  title,
  subtitle,
  layoutType = "creative",
  list,
} = actualContent as aboutSectionType;

const isModernLayout = layoutType === "modern";
---

{
  enable && (
    <section class="relative" id="about">
      <div class="container space-y-12 md:space-y-16">
        <div
          class="mx-auto shrink-0 text-center lg:max-w-2xl"
          data-aos="fade-up-sm">
          <Subtitle content={subtitle} />
          {title && (
            <h2
              class="section-title has-italic-text capitalize"
              set:html={markdownify(title)}
            />
          )}
        </div>
        <div
          class="grid gap-14 lg:grid-cols-2"
          data-aos="fade-up-sm"
          data-aos-delay="200">
          {list.map((item, index) => {
            const isFullWidth = (index + 1) % 3 === 0;
            const isEven = index % 2 !== 0 && !isFullWidth;
            const isOdd = index % 2 === 0 && !isFullWidth;

            return (
              <div
                class:list={[
                  {
                    "from-primary/0 to-primary/35 bg-linear-80 lg:col-span-2 lg:grid-cols-2":
                      isFullWidth,
                    "xl:pt-20": isFullWidth && !isModernLayout,
                    "from-primary/5 via-primary/40 to-primary/30 bg-linear-30":
                      isEven,
                    "from-primary/35 to-body -bg-linear-20": isOdd,
                    "xl:pl-20": isEven && !isModernLayout,
                    "xl:pr-20": isOdd && !isModernLayout,
                    "px-8 py-10 xl:px-12 xl:py-16": isModernLayout,
                  },
                  "grid overflow-hidden rounded-3xl",
                ]}>
                <div
                  class:list={[
                    {
                      "max-lg:order-2 md:flex md:flex-col md:justify-center":
                        isFullWidth,
                    },
                    {
                      "order-1": isOdd,
                      "order-1 mt-auto h-fit lg:order-2": isEven,
                      "mb-10 lg:mb-16": isOdd && isModernLayout,
                      "lg:text-end": isEven && !isModernLayout,
                      "px-8 py-10 lg:px-10 lg:py-10 xl:px-16 xl:py-16":
                        !isModernLayout,
                    },
                  ]}>
                  {item.title && (
                    <h3
                      class:list={[
                        "prose-strong:font-medium prose-strong:text-secondary mb-8",
                        {
                          "text-h5/relaxed": item.titleSize === "sm",
                        },
                      ]}
                      set:html={markdownify(item.title)}
                    />
                  )}
                  {item.description && (
                    <div
                      class="prose-styles"
                      set:html={markdownify(item.description, true)}
                    />
                  )}
                  <div class="flex space-x-4">
                    {item.ctaBtn?.enable && (
                    <div class="mt-2">
                      <ButtonLink
                        class="btn-primary text-center"
                        content={{ ...item.ctaBtn }}
                      />
                    </div>
                  )}
                  {item.ctaBtn2?.enable && (
                    <div class="mt-2">
                      <ButtonLink
                        class="btn-secondary text-center"
                        content={{ ...item.ctaBtn2 }}
                      />
                    </div>
                  )}
                  </div>
                </div>

                {/* Images */}
                <div
                  class:list={[
                    "relative overflow-hidden",
                    {
                      "mb-auto h-fit max-lg:mt-10 lg:mb-16 xl:mb-0":
                        isEven && isModernLayout,
                      // Right Side Image
                      "order-2": isOdd,
                      // Left Side Image
                      "order-2 lg:order-1": isEven,
                      "max-lg:order-2": isFullWidth,
                    },
                  ]}>
                  {item.image && (
                    <OptimizedImage
                      src={item.image}
                      class:list={[
                        "min-w-full",
                        {
                          "rounded-bl-3xl lg:object-bottom-left":
                            isEven && !isModernLayout,
                          "rounded-tr-3xl lg:object-top-right":
                            isOdd && !isModernLayout,
                          "h-[200px] object-cover object-top md:min-h-full lg:object-cover":
                            !isFullWidth && !isModernLayout,
                          "h-[200px] rounded-xl object-cover object-top md:h-[300px]":
                            isModernLayout && !isFullWidth,
                          "mx-auto block h-[200px] w-auto object-contain! sm:h-full md:h-[350px]":
                            isFullWidth,
                        },
                      ]}
                    />
                  )}
                </div>
              </div>
            );
          })}
        </div>
      </div>
    </section>
  )
}
