---
import Subtitle from "../widgets/Subtitle.astro";
import TestimonialCarousel from "../widgets/TestimonialCarousel.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import type { MarqueeConfig, Section } from "@/types";
import { markdownify } from "@/lib/utils/textConverter";

// Type for this section data
export type testimonialSectionType = Section & {
  marquee: MarqueeConfig;
  list: {
    enable: boolean;
    content: string;
    customer: {
      image: string;
      name: string;
      role: string;
    };
  }[];
};

type Props = {
  content?: testimonialSectionType;
};

// Load default content
let defaultContent = (
  await getEntryCTM("sections", "testimonial", Astro.currentLocale)
)?.data as testimonialSectionType;

// Merge with overrides
let actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as testimonialSectionType;

// Extract values
let { enable = true, title, subtitle, list } = actualContent;

const testimonials = list?.filter((t) => t.enable) || [];
---

{
  enable && (
    <section class="after:from-primary/0 after:via-primary/30 after:to-primary/0 relative space-y-12 after:pointer-events-none after:absolute after:inset-0 after:-z-10 after:bg-linear-180 md:space-y-16">
      <div class="container">
        <div data-aos="fade-up-sm" class="mx-auto text-center lg:max-w-2xl">
          {subtitle && <Subtitle content={subtitle} />}
          {title && (
            <h2
              class="has-italic-text capitalize"
              set:html={markdownify(title)}
            />
          )}
        </div>
      </div>

      <TestimonialCarousel testimonials={testimonials} />
    </section>
  )
}
