---
import Subtitle from "../widgets/Subtitle.astro";
import TestimonialCarousel from "../widgets/TestimonialCarousel.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import { markdownify } from "@/lib/utils/textConverter";
import type { TestimonialSection } from "@/types";

const defaultContent = (
  await getEntryCTM("sections", "testimonial", Astro.currentLocale)
)?.data as TestimonialSection;

const actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as TestimonialSection;

const { enable = true, subtitle, title, list = [] } = actualContent;

const testimonials = list.filter((t) => t.enable);
---

{
  enable && (
    <section
      class="section-light testimonial-light relative space-y-12 md:space-y-16"
      style="background-image: var(--gradient-bg-light);">
      <div class="container">
        <div data-aos="fade-up-sm" class="mx-auto text-center lg:max-w-2xl">
          {subtitle && <Subtitle content={subtitle} />}
          {title && (
            <h2
              class="section-title has-italic-text text-monire-deep-teal capitalize"
              set:html={markdownify(title)}
            />
          )}
        </div>
      </div>

      <TestimonialCarousel testimonials={testimonials} />
    </section>
  )
}
