---
import Subtitle from "../widgets/Subtitle.astro";
import TestimonialCarousel from "../widgets/TestimonialCarousel.astro";
import { getEntryCTM } from "@/lib/contentParser.astro";
import overrideObjects from "@/lib/utils/overrideObjects.ts";
import { markdownify } from "@/lib/utils/textConverter";

export interface Testimonial {
  enable: boolean;
  content: string;
  customer: {
    name: string;
    role: string;
    image?: string;
  };
}

export interface TestimonialSection {
  enable: boolean;
  subtitle?: string;
  title?: string;
  list: Testimonial[];
}

const defaultContent = (
  await getEntryCTM("sections", "testimonial", Astro.currentLocale)
)?.data as TestimonialSection;

const actualContent = overrideObjects(
  { ...defaultContent },
  Astro.props.content,
) as TestimonialSection;

const { enable = true, subtitle, title, list = [] } = actualContent;

const testimonials = list.filter((t) => t.enable);
---

{
  enable && (
    <section class="after:from-primary/0 after:via-primary/30 after:to-primary/0 relative space-y-12 after:pointer-events-none after:absolute after:inset-0 after:-z-10 after:bg-linear-180 md:space-y-16">
      <div class="container">
        <div data-aos="fade-up-sm" class="mx-auto text-center lg:max-w-2xl">
          {subtitle && <Subtitle content={subtitle} />}
          {title && (
            <h2
              class="has-italic-text capitalize"
              set:html={markdownify(title)}
            />
          )}
        </div>
      </div>

      <TestimonialCarousel testimonials={testimonials} />
    </section>
  )
}
