---
type Props = {
  href: string;
  label?: string;
  htmlLabel?: string;
  rel?: string;
  target?: string;
  variant?: "default" | "footer" | "nav";
  class?: string;
  [key: string]: any;
};

const {
  href,
  label,
  htmlLabel,
  rel,
  target,
  variant = "default",
  class: className,
  ...rest
} = Astro.props;

const isExternal = /^https?:\/\//i.test(href || "");
const isPrefetchableInternalLink =
  typeof href === "string" &&
  href.length > 0 &&
  !href.startsWith("#") &&
  !isExternal;
const computedRel = isExternal ? rel || "noopener noreferrer" : rel;
const computedTarget = isExternal ? target || "_blank" : target;
---

<a
  href={href}
  rel={computedRel}
  target={computedTarget}
  data-astro-prefetch={isPrefetchableInternalLink ? "viewport" : undefined}
  class:list={[
    "link",
    {
      "link-default": variant === "default",
      "link-footer": variant === "footer",
      "link-nav nav-link text-text-default font-bold uppercase": variant ===
        "nav",
    },
    className,
  ]}
  {...rest}>
  {
    htmlLabel ? (
      <span set:html={htmlLabel} />
    ) : label ? (
      label
    ) : (
      <slot />
    )
  }
</a>
