---
import { markdownify } from "@/lib/utils/textConverter";
import OptimizedImage from "../utilities/OptimizedImage.astro";

interface Props {
  title: string;
  description: string;
  icon?: string;
}

const { title, description, icon } = Astro.props;
---

<div
  class="border-primary/30 hover:bg-accent relative space-y-8 rounded-lg border p-5 transition-colors duration-300">
  <div class="flex items-center gap-4">
    {
      icon && (
        <OptimizedImage
          width={48}
          height={48}
          class="bg-primary/10 h-12 w-12 rounded-sm"
          src={icon}
          alt={`Related to ${title}`}
        />
      )
    }
    {title && <h3 class="h6" set:html={markdownify(title)} />}
  </div>
  {description && <p set:html={markdownify(description)} />}
</div>
