---
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { toSentenceCase } from "@/lib/utils/textConverter";

import config from ".astro/config.generated.json" with { type: "json" };

type Props = {
  src?: string;
  class?: string;
  loading?: "eager" | "lazy";
  decoding?: "async" | "auto" | "sync";
  fetchpriority?: "high" | "low" | "auto";
};

let {
  src,
  class: className,
  loading = "lazy",
  decoding = "async",
  fetchpriority = "auto",
} = Astro.props;

let { logo, title } = config.site;
---

<a href={"/"} class:list={["logo-wrapper", className]}>
  <OptimizedImage
    src={src ? src : logo}
    class="logo"
    alt={toSentenceCase("Brand logo of Moniré")}
    loading={loading}
    decoding={decoding}
    fetchpriority={fetchpriority}
    style="height: 100%; width: auto; object-fit: contain;"
  />
</a>
