---
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { toSentenceCase } from "@/lib/utils/textConverter";

import config from ".astro/config.generated.json" with { type: "json" };

type Props = {
  src?: string;
  class?: string;
};

let { src, class: className } = Astro.props;

let { logo, title } = config.site;
---

<a href={"/"} class:list={["logo-wrapper", className]}>
  <OptimizedImage
    src={src ? src : logo}
    class="logo"
    alt={toSentenceCase("Brand logo of " + title)}
    style="height: 100%; width: auto; object-fit: contain;"
  />
</a>
