.hero-bg {
  position: relative;
  background-color: #011b22;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  margin-top: -80px;
  padding-top: 80px;
  min-height: calc(100vh + 80px);
  display: flex;
  align-items: center;
}

/* Browsers that support WebP will use this instead */

.gold-text,
.gold-text * {
  @apply bg-clip-text text-transparent;
  background-image: url("/images/hero/gold-fill.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  color: var(--color-primary); /* fallback */
}
