---
import "aos/dist/aos.css";
import "@/styles/globals.css";

import Header from "@/components/global/header/Header.astro";
import Footer from "@/components/global/Footer.astro";
import Head from "@/components/global/Head.astro";
import removeEmptyKeys from "@/lib/utils/removeEmptyKeys";
import type { JSONLDProps } from "@/lib/utils/JsonLdGenerator";
import BreakpointIndicator from "./components/widgets/BreakpointIndicator.astro";
import GlobalScripts from "./components/widgets/GlobalScripts.astro";
import PageLoader from "./components/utilities/PageLoader.astro";
import config from ".astro/config.generated.json" with { type: "json" };

type Props = JSONLDProps & {
  className?: string;
  fitToScreen?: boolean;
  draft?: boolean;
  metaTitle?: string;
  metaDescription?: string;
  robots?: string;
  excludeFromSitemap?: boolean;
  customSlug?: string;
  canonical?: string;
  status?: number;
  keywords?: string[]; // Array of strings
  disableTagline?: boolean;
  structuredData?: Props;
  sectionSpacing?: "md" | "lg";
};

// destructure frontmatter
let { sectionSpacing = "lg", structuredData } = Astro.props;

// Exclude empty key value weather it may empty string, object or array from Astro.props
let props = removeEmptyKeys(Astro.props);

// Section spacing class
const sectionSpacingClass =
  sectionSpacing === "md" ? "has-section-spacing-md" : "has-section-spacing-lg";
---

<!doctype html>
<html lang={config.settings.multilingual.defaultLanguage || "en"}>
  <Head {...props} structuredData={structuredData} />
  <body>
    {!Astro.props.homepage && <PageLoader />}
    <Header {...props} />
    <main class:list={[sectionSpacingClass, Astro.props.class]}>
      <slot />
    </main>
    <Footer />

    <GlobalScripts />
    <BreakpointIndicator />

  </body>
</html>
